.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-family: "Comfortaa", thin;

}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.img img {
    max-width: 25vw;
    max-height: 45vh;
}
.description{
    display: flex;
    width: 80%;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
