.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-family: "Comfortaa", thin;

}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.img img{
    width: 25vw;
    height: 32vh;
}