.main{
    width: 100vw;
    min-height: 100vh;
    max-height: 240vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-family: "Comfortaa", thin;

}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.img img {
    max-width: 25vw;
    max-height: 40vh;
}
.description{
    display: flex;
    width: 80%;
    max-height: 60vh;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
