.main{
    max-height: 120vh;
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 3rem;
}
.courses{
    display: flex;
    min-height: 20vh;
    width: 90%;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh;
}
.courseModule{
    background: #1D3436;
    color: white;
    display: flex;
    padding: 1vw;
    margin-top: 1vh;
    width: 90%;
    flex-flow: column;
    border: #1D3436 solid;
    border-radius: 1vw;
}
h3{
    text-align: center;

}


.tab {
    position: relative;
    margin: 1vh;
    width: 100%;
    color: #fff;
    overflow: hidden;
}
.tab_input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}
.tabContent {
    padding: 0 0 0 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.tab-content p {
    margin: 1em;
}
/* :checked */
.tab input:checked ~ .tabContent {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.tab input[type=checkbox] + label::after {
    content: "+";
}
.tab input[type=radio] + label::after {
    content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}