.form{
    background: #1D3436;
    border-radius: 20px;
    padding-top: 1.5vh;
    width: 45vw;
    height: 50vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.form h1{
    font-size: 4rem;
}
.page{
    background: rgba(227, 255, 254, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}