
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Oswald:wght@200&family=Yeseva+One&display=swap');
.footer{
    width: 100%;
    height: 22vh;
    position: relative;
    bottom: -0.5vh;
    background:rgba(37, 36, 36, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    display: flex;
    align-items:center;
    font-family: 'Yeseva One', cursive;
    font-size: 0.9em;
    justify-content: space-around ;
    width: 32vw;
    height: 22vh;
}

.contacts{
    display: flex;
    width: 13vw;
    height: 18vh;
    align-items: center;
    flex-direction:column;
}
.text{
    width: 12.5vw;
    align-self: center;
    text-align: left;
    font-family: 'Comfortaa', cursive;
}
.text p {
    font-size: 0.85em;
}
.social{
    width: 6.5vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.social a img{
    height: 3vh;

}
.mail{
    width: 15vw;
    height: 18vh;
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
}
.inputs{
    font-family: 'Comfortaa', cursive;
    width: 13vw;
    height: 16vh;
    display: flex;
    justify-content: space-around ;
    flex-direction: column;
    align-items: flex-start;

}
.inputs input{
    width: 7vw;
    max-width: 7.5vw;
    height: 2.5vh;
    max-height: 3vh;;
    border-radius: 5px;
}
.inputs textarea{
    width: 13vw;
    max-width: 13.5vw;
    height: 6.5vh;
    max-height: 7vh;
    border-radius: 5px;
}
::placeholder{
    font-family: 'Comfortaa', cursive;
    font-size: 0.9rem;
    max-font-size: 18px;
}
