@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Oswald:wght@200&family=Yeseva+One&display=swap');


.heading{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url("../components/pageComponents/wallpaperbetter.com_3840x2160 (1).jpg");
    background-size: cover;
    height: 65vh;
    background-repeat: no-repeat;
    background-position: 0 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.text-heading{
    border: #C3462E solid;
    height: 35vh;
    width: 40vw;
    border-radius: 30px;
    color: white;
    background: #C3462E;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;

}
.heading::after{
    content: "  ";
    width: 5vw;
    color: white;
}
.text-heading h1,h2{
    font-family: 'Yeseva One', cursive;
    font-size: 4rem;
    text-align: center;
    font-weight: normal;
}
.text-heading h2:last-child{
    font-size: 2rem;
}
.main-sections{
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: "Comfortaa", serif;

}
.main-sections h2,h3,h4,h5,h6{
    font-family: 'Yeseva One', serif;
}
.about-us{
    display: flex;
    height: 30vh;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Yeseva One', cursive;
}
.about-us div p{
    font-family: "Comfortaa", serif;
}
.about-us h2{
    font-size: 3.5rem;
}
.description-org{
    display: flex;
    width: 45vw;
    height: 18vh;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background: #C3462E;
    border-radius: 20px;
    overflow: auto;
}

.description-org p{
    width: 95%;
}
.course{
    border: #70f8ff solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 45vw;
}
.course h2{
    font-size: 3.5rem;
    height: 30%;
}
.courses{
    border: green solid;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;

}
.course-item{
    color: white;
    background: rgba(29, 52, 54, 1) ;
}