
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Oswald:wght@200&family=Yeseva+One&display=swap');
.footer{
    width: 100%;
    height: 33vh;
    position: relative;
    bottom: -0.5vh;
    background:rgba(37, 36, 36, 1);
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
.content{
    display: flex;
    margin-top: 2vh;
    align-items:flex-start;
    font-family: 'Yeseva One', cursive;
    font-size: 0.9em;
    justify-content: space-around ;
    width: 40vw;
    height: 30vh;
}

.contacts{
    display: flex;
    width: 20vw;
    height: 25vh;
    align-items: center;
    flex-direction:column;
    justify-content: flex-start;
}
.contacts h1{
    font-size: 2.5rem;
    width: 17vw;

}
.text{

    width: 15vw;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.text p {
    font-size: 1em;
    margin-bottom: 0;
}
.text div{
    margin-left: 2vw;
    margin-top: 0.5vw;
}
.social{

    width: 10vw;
    height: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}
.social a img{
    height: 3vh;

}
.mail{
    padding-left: 2vw;
    width: 30vw;
    height: 18vh;
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
}
.inputs{
    font-family: 'Comfortaa', cursive;
    width: 20vw;
    height: 19vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3vw;

}
.inputs input{
    width: 13vw;
    max-width: 13.5vw;
    height: 3vh;
    max-height: 3vh;
    border-radius: 5px;
    margin-bottom: 1vw;
}
.inputs textarea{
    margin-left: 0vw;
    width: 15vw;
    max-width: 15.5vw;
    height: 6.5vh;
    max-height: 7vh;
    border-radius: 5px;
}
::placeholder{
    font-family: 'Comfortaa', cursive;
    font-size: 0.9rem;
    max-font-size: 18px;
}
