.myInput{
    width: 95%;
    border:solid black 1px;
    border-radius: 10px;
    font-family: "Comfortaa", serif;
    font-size: 1rem;
    padding: 15px;
}
.myInput::placeholder{
    text-align: left;
    white-space: pre-wrap;
    padding-left: 1vw;
}
