.test{
    background: #1D3436;
    height: 35vh;
    width: 42vw;
    border: white solid;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.input{
    height: 8vh;
    width: 23vw;
    color: white;
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-end;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 4vh;
    width: 52%;
    margin: 1vh;
}
.coment{
    font-size: 0.8rem;
}