.fomLog {
    background: #1D3436;
    height: 50vh;
    width: 45vw;
    color: white;
    border: white solid;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.formReg{

}

h2 {
    margin:  1vw 1vw 1.5vw 1vw;
    align-self: center;
}

.formElements {
    font-family: "Comfortaa", cursive;
    display: flex;
    height: 55%;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.input {
    display: flex;
    height: 9vh;
    width: 100%;
    color: white;
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 50%;
    margin: 1vh;
}

.comment {
    font-size: 0.8rem;
    text-align: left;
}