.modal{
    height: 110vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index:5;
}

.modalActive{
    overflow: hidden;
    opacity: 1;
    transform: scale(1) ;
    pointer-events: all;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.content{
    max-height: 80vh;
    padding: 2vw;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
    border: #C3462E;
}
.contentActive{
    font-family: "Comfortaa", thin;
    padding: 3vw;
    border-radius: 12px;
    background-color: white;
    transition: 0.4s all;
    width: 50vw;
    transform: scale(1) ;
    position: absolute;
    max-height: 90vh;
    overflow: auto;
}
.MyButton{
    font-size: 0.8rem;
}